.cache-get-successful {
	background-color: rgb(230, 255, 230);
}

.cache-get-failed {
	background-color: rgb(255, 230, 230);
}

.cache-set {
	background-color: rgb(255, 255, 230);
}

.x-grid3-row-over {
	background-color: #DEDEDE;
}

.enetcacheanalytics-tbar-info {
	background-image: url('../images/icon-info.gif');
}

div#typo3-docbody {
	top: 0;
}



.head th {
	background-color: #808080;
}

.success td {
	background-color: rgb(230, 255, 230);
}

.fail td {
	background-color: rgb(255, 230, 230);
}

.set td {
	background-color: rgb(255, 255, 230);
}

.user td {
	background-color: silver;
}

.endrow {
	clear: left;
}

td, th {
	padding: 3px !important;
}

.TimeMessage {
	background-color: #CDEACA;
}

.OperationCountMessage {
	background-color: #DDEEF9;
}

.CacheMissMessage {
	background-color: #FBB19B;
}
