@CHARSET "UTF-8";
body {
	margin: 0 !important;
}

.field {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
}

.head th {
	background-color: #808080;
}

.success td {
	background-color: rgb(230, 255, 230);
}

.fail td {
	background-color: rgb(255, 230, 230);
}

.set td {
	background-color: rgb(255, 255, 230);
}

.user td {
	background-color: silver;
}

.endrow {
	clear: left;
}

td, th {
	padding: 3px !important;
}
